<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
    <link rel="stylesheet" href="/static/css/productIndex.css">
</head>
<body>
<%- include('./partials/header')%>

<main>
    
        <div class="cards">
            <article class='card'>
            <div class="card__container-img">
                <img class="card__img" src="/static/img/pintura.webp" alt="Imagen Deportiva">
            </div>
            <div class="card__container-info">
                <h4 class="card__name">CURSO DE PINTURA </h4>
                <p class="card__description">Descripcion breve del curso</p>
                <p class="card__price">$2.500</p>
                <input class='boton' type="submit" value="Comprar">
            </div>
            </article>

            <article class='card' >
            <div class="card__container-img">
                <img class="card__img" src="/static/img/yoga.webp" alt="Imagen Deportiva">
            </div>
            <div class="card__container-info">
                <h4 class="card__name"> CURSO DE YOGA</h4>
                <p class="card_description">Descripcion breve del curso</p>
                <p class="card__price">$11.770</p>
                <input class='boton' type="submit" value="Comprar">
            </div>

            </article>

            <article class="card">
            <div class='card__container-img'>
                <img class="card__img" src="/static/img/natacion.webp" alt="Imagen Deportiva">
            </div>
            <div class="card__container-info">
                <h4 class="card__name"> CURSO DE NATACIÓN </h4>
                <p class="card__description">Descripcion breve del curso</p>
                <p class="card__price">$9.770</p>
                <input class='boton' type="submit" value="Comprar">
            </div>
            </article>

            <article class='card'>
            <div class="card__container-img">
                <img class="card__img" src="/static/img/voleibal.webp" alt="Imagen Deportiva">
            </div>
            <div class="card__container-info">
                <h4 class="card__name"> CURSO DE VOLEIBOL </h4>
                <p class="card__description">Descripcion breve del curso</p>
                <p class="card__price">$4.770</p>
                <input class='boton' type="submit" value="Comprar">
            </div>

            </article>
        </div>

    </main>
    <%- include('./partials/footer')%>

</body>

</html>