<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--font-awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>MIK</title>
</head>
<body>
<header>

    <div class="header-container">

        <span class="menu-icon__container">
               <i class="fa-solid fa-bars menu-icon"></i>
        </span>
    
        <a href="/" class="logo__container">
               <img class="logo__img" src="/static/img/Logo_MIK.png" alt="logo Mik">
        </a>
    
        <div class="icons__container">
               <a href="productCart" class="icon__container">
                   <i class="fa-solid fa-cart-shopping icon"></i>
                   <span>Comprar</span>
               </a>
               <a href="/login" class="icon__container">
                <i class="fa-regular fa-circle-user icon"></i>
                <span>Iniciar Sesión</span>
               </a>
        </div>

    </div>
    <!-- BARRA DE BUSQUEDA -->
   <!--  <div class="search__container"> -->
   <!--      <input class="search__input" type="text" placeholder="Ingrese su buscar.."> -->
       <!--  <button class="search___btn"><i class="fa-solid fa-magnifying-glass"></i></button> -->
   <!--  </div> -->


    <nav class="main-nav">
        <ul class="main-menu">
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Adultos</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Adolescentes</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Niños</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Bebes</a>
           </li>
            <li class = "main-menu__item">
                <a class="main-menu__link"  href="#">Familia</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link"  href="/productIndex">Todos los cursos</a>
            </li>
        </ul>
    </nav>

</header>

<div class="banner__container">
    <div class="banner__wrap">
        <div class="banner__info">
            <h1>Entretenimiento para toda la familia</h1>
            <p>En MIK generamos cursos con calidad y estamos comprometidos con mejorar la vida de todos nuestros usuarios a través de una manera eficiente y divertida.</p>
        </div>
    </div>
</div>
<main>
  <h3 class="title">Novedades</h3>

 <!--  <section class="container-slider">

    <article class="card__container">
        <p class="news">Novedades</p>
        <img class="card__img" src="/static/img/voleibol.jpg" alt="Imagen Deportiva">
        <div class="card__container-info">
            <p class="card__title">Curso Volieball</p>
            <p class="card__price">$2500</p>
            <a href="" class="card__btn-detail">Ver Mas</a>
        </div>

    </article>
  </section> -->

  <section class="cards">
      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/pintura.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-new">Nuevo</p>
              <h4 class="card__name">Arte</h4>
              <p class="card__price">$6.770</p>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/natacion.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-new">Nuevo</p>
              <h4 class="card__name">Natacón - Niños</h4>
              <p class="card__price">$9.770</p>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/stand-up.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-new">Nuevo</p>
              <h4 class="card__name">Stand Up - Adultos</h4>
              <p class="card__price">$20.770</p>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>
      
      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/yoga.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-new">Nuevo</p>
              <h4 class="card__name">Yoga - Aduntos</h4>
              <p class="card__price">$11.770</p>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

  </section> 
  <h3 class="title">Promociones</h3>

 <!--  <section class="container-slider">

    <article class="card__container">
        <p class="news">Novedades</p>
        <img class="card__img" src="/static/img/voleibol.jpg" alt="Imagen Deportiva">
        <div class="card__container-info">
            <p class="card__title">Curso Volieball</p>
            <p class="card__price">$2500</p>
            <a href="" class="card__btn-detail">Ver Mas</a>
        </div>

    </article>
  </section> -->

  <section class="cards">
      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/voleibal.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-offer">40% OFF</p>
              <h4 class="card__name">voley</h4>
              <div class="card__price-offer">
                  <p class="card__price offer">$6.770</p>
                  <p class="card__price color-offer">$4.770</p>
              </div>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/cocina.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-offer">30% OFF</p>
              <h4 class="card__name">Cocina</h4>
              <div class="card__price-offer">
                  <p class="card__price offer">$10.770</p>
                  <p class="card__price color-offer">$7.770</p>
              </div>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/guitarra.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-offer">20% OFF</p>
              <h4 class="card__name">Guitarra</h4>
              <div class="card__price-offer">
                  <p class="card__price offer">$14.000</p>
                  <p class="card__price color-offer">$11.200</p>
              </div>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

      <article class="card">
          <div class="card__container-img">
              <img class="card__img" src="/static/img/futbol.webp" alt="Imagen Deportiva">
          </div>
          <div class="card__container-info">
              <p class="card__label-offer">50% OFF</p>
              <h4 class="card__name">Futbol - Ninos</h4>
              <div class="card__price-offer">
                  <p class="card__price offer">$6.800</p>
                  <p class="card__price color-offer">$3.400</p>
              </div>
              <a class="card__btn" href="productDetail">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </article>

    

  </section> 
</main>
<footer>

    <section class="social__icons">
        <ul>
            <li><a class="social__link" href=""><i class="fa-brands fa-facebook"></i></a>
            <li><a class="social__link" href=""><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a class="social__link" href=""><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </section>
    <section class="footer-info">
        <div class="footer-info__container-img">
            <img class="logo__img" src="/static/img/Logo_MIK.png" alt= "Logo de MIK">
        </div>
        <div class="footer-info__nav">
            <p>Tienda</p>
            <div class="footer-info__navbar">
                <ul>
                    <li><a class="footer-info__link" href="#">¿Cómo comprar?</a></li>
                    <li><a class="footer-info__link" href="#">Política de devoluciones</a></li>
                    <li><a class="footer-info__link" href="#"></a></li>
                </ul>
            </div>
        </div>
    
    </section>
</footer>
</body>
</html>


