<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=devive-width", initial-scale="1">
        <meta charset = "UTF-8">
        <title>Tienda MIK</title>
        <link rel = 'stylesheet' href="static/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel = "stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="encabezado">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <img class="logo" src="static/img/Logo_MIK.png" alt="Logo">
                <p>Actividades para toda la familia</p>
                <a href = '/Ingresa'> <i class="fas fa-user-circle"></i></i></a>
            </div>
            <nav>
                <ul class="inicio">
                <a href= '/busqueda'> <i class="fas fa-search"></i></a></li>
                <a href= '/carrocompras'> <i class="fas fa-shopping-cart"></i></a></li>
                <a href= '/dondeestamos'> <i class="fas fa-map-marker-alt"></i></a></li>
                </ul>
            </nav>
        </header>

    </body>
</html>