<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
        <div class="header-container">

            <span class="menu-icon__container">
                <i class="fa-solid fa-bars menu-icon"></i>
            </span>

            <a href="/" class="logo__container">
                <img class="logo__img" src="/static/img/Logo_MIK.png" alt="logo Mik">
            </a>

            <div class="icons__container">
                <a href="#" class="icon__container">
                    <i class="fa-solid fa-cart-shopping icon"></i>
                </a>
                <a href="/login" class="icon__container">
                    <i class="fa-regular fa-circle-user icon"></i>
                </a>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container-product">

            <img class="logo__img" src="/static/img/Logo_MIK.png" alt="logo Mik">

            <h4>Elige una Disponibilidad</h4>

            <h3> CURSO DE PINTURA </h3>
            <article>
                <img class="card__img" src="/static/img/pintura.webp" alt="Imagen Deportiva">

                <p class="card_description">Descripcion breve del curso</p>
                <p class="card__price">$2500</p>
                <input type="submit" value="Comprar">

            </article>

            <h3> CURSO DE BASKETBALL</h3>
            <article>
                <img class="card_img" src="/static/img/basket.jpg" alt="Imagen Deportiva">

                <p class="card_description">Descripcion breve del curso</p>
                <p class="card__price">$2500</p>
                <input type="submit" value="Comprar">

            </article>

            <h3> CURSO DE VOLEIBOL </h3>
            <article>
                <img class="card__img" src="/static/img/voleibol.jpg" alt="Imagen Deportiva">

                <p class="card_description">Descripcion breve del curso</p>
                <p class="card__price">$2500</p>
                <input type="submit" value="Comprar">

            </article>

            <h3> CURSO DE NATACION </h3>
            <article>
                <img class="card__img" src="/static/img/Natacion.jpg" alt="Imagen Deportiva">

                <p class="card_description">Descripcion breve del curso</p>
                <p class="card__price">$2500</p>
                <input type="submit" value="Comprar">

            </article>
        </div>

    </main>

    <footer></footer>
    <section class="footer-info">
        <div class="footer-info__container-img">
            <img class="logo__img" src="/static/img/Logo_MIK.png" alt="Logo de MIK">
        </div>
        <div class="footer-info__nav">
            <p>Tienda</p>
            <div class="footer-info__navbar">
                <ul>
                    <li><a class="footer-info__link" href="#">¿Cómo comprar?</a></li>
                    <li><a class="footer-info__link" href="#">Política de devoluciones</a></li>
                    <li><a class="footer-info__link" href="#"></a></li>
                </ul>
            </div>
        </div>

    </section>

</body>

</html>