<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- google-fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!--font-awesome Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/register.css">
        <title>MIK</title>
    </head>
    <body>
        <header>
            <div class="header-container">

                <span class="menu-icon__container">
                    <i class="fa-solid fa-bars menu-icon"></i>
                </span>
            
                <a href="/" class="logo__container">
                    <img class="logo__img" src="/static/img/Logo_MIK.png" alt="logo Mik">
                </a>
            
                <div class="icons__container">
                    <a href="#" class="icon__container">
                        <i class="fa-solid fa-cart-shopping icon"></i>
                    </a>
                    <a href="#" class="icon__container">
                        <i class="fa-regular fa-circle-user icon"></i>
                    </a>
                </div>

            </div>
        </header>
        <main>
            <section class="form-register">
                <h3>Formulario de registro</h3>
                <form action="/" method="POST">
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre">
                <input class="controls" type="text" name="apellidos" id="apellido" placeholder="Apellido"><br>
                <input class="controls" type="password" name="password" id="password" placeholder="Ingrese una contraseña"><br>
                <input class="controls" type="tel" name="telefono" id="telefono" placeholder="Número de celular"><br>
                <input class="controls" type="email" name="email" id="email" placeholder="Correo electrónico"><br>
                <div class="fechaNacimiento">
                <label>Fecha de Nacimiento</label><br>
                <input class="date" type="date" name="fechanacimiento" id="fechanacimiento">
                </div>
                <div class="check">  
                <label for="tratamientoDatos">Estoy de acuerdo con los terminos y condiciones</label>
                <input class="controls" type="checkbox" name="tratamientoDatos">
                </div>
                <button class="boton" type="submit">Registrarme</button>
                <button class="boton" type="reset"><a class="cancelar" href='/'> Cancelar </a></button>
                </form>
                <p><a class="login" href='/login.html'> Ya tengo una cuenta</a></p>
            </section>
        </main>
    </body>
</html>