/*======= Globales =====*/

body{
    font-family: "Roboto";
    background-color: #EBEBEB;
    padding-top: 80px;
}
ul{
    margin: 0 ;
    padding: 0
}

/* li{
    list-style: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
} */

a{
    text-decoration: none;
}

/*====== Header =====*/

header{ 
    display: flex;
    flex-direction: column;
    background-color: #fff;

}

header .header-container{
    position: fixed;
    top: 0;
    left: 0;  
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: #fff;
    border-bottom: 1px solid rgba(73,69,52,0.3);
    z-index: 9999;
   
}

header .menu-icon__container{
  padding: 10px;
  
}
.menu-icon{
    font-size: 24px;
    color: #303F9F;
}

 .logo__container{
    width: 12%;
    padding: 30px;
}
.logo__img{
    width: 50%;
   
}

header .icons__container{
    margin-right: 10px;
}
.icon__container{
    padding: 10px 10px 10px 0;
}

.icon__container span{
   display: none;
}
.icon{
    font-size: 24px;
    color: #303F9F;
}

header .search__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(73,69,52,0.3);
  
}
.search__input{
    width: 30%;
    border-radius: 0.3rem;
    padding: 0.25em 0.6em;
    border: 1px solid #444;;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0 0 0 /0.15);

}
/* .search___btn{
    position: absolute;
    left: 68%;
    border-width: 0;
    background-color: #fff;
    border-left-color:rgba(73,69,52,0.5); 
} */


header .main-nav{
    display: none;
    justify-content: center;
  
  
}
.main-menu{
    display: flex;
    flex-direction: column;
}

.main-menu__item{
    padding: 1em;
   

}
.main-menu__link{
    padding: 5px;
  
}


/*=========== Index ================== */


/* =========FOOTER ============= */

footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgba(73,69,52,0.3);
}

footer .social__icons{
    width: 100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .logo__img{
    width: 50px;
}

footer .social__icons ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.social__link{
    padding: 10px;
    cursor: pointer;
}
.social__link i{
    font-size: 25px;
}

footer .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info__container-img{
    width: 40%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(73,69,52,0.3);
}

.footer-info__nav{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  align-items: center; */
}
.footer-info__nav p{
    align-self: center;
    font-size: 16;
    font-weight: bold;
     color: #303F9F;
     margin-bottom: 0px;
}

.footer-info__navbar{
    align-self: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 10px 10px 10px;
}

.footer-info__navbar ul li{
    text-align: center;
}
.footer-info__link{
    font-size: 14px;
    color: #303F9F;
    cursor: pointer;
}

/*========== Product detail ===========*/

.product_img{
    padding: 5px;
}

.card__img{
    width: 100%;
}

.product_title h3{
    font-size: 20px;
    color:#303F9F;
}

.product_title p{
    font-size: 16px;
}

.product_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details{
    background-color: white;
    padding: 10px;
}


.form_container{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px #EBEBEB;
    margin: auto;
    padding: 5px;
    }

select{
    padding: 5px;
    border: solid 2px #303F9F;
    border-radius: 5px;
}

.product_description h2{
    font-size: 25px;
    color: #FF4081;
    border-bottom: solid 2px #FF4081;
}

.product_description{
    padding: 8px;
    font-size: 16px;
}

.detele-button{
    width: 100%;
    background-color: #FF4081;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.edit-button{
    width: 10%;
    background-color: #FF4081;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}



@media (min-width: 788px){
    .product_details{
        display: flex;
        justify-content: space-around;
    }

    .info{
        display: flex;
        flex-direction: column;
    }
}



/*============ Formularios users =============*/

/*main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}*/


.form-register{
    width: 80%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    font-family: 'calibri';
    color: gray;
    border: solid 1px #303F9F;
    margin:auto;
    margin-top: 20px;
}

.form-register h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid 1px #FF4081;
    font-size: 18px;
    font-family: 'calibri';
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color:gray
}


a{
    text-decoration: none;
    color:white
}

.login{
    text-decoration: none;
    color: gray
}

.form-register a:hover{
    color: #ebebeb;
    text-decoration: underline;
}

.boton{
    width: 95%;
    background-color: #FF4081;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.date{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
}

.check{
    display: flex;
    padding: 10px;
    flex-direction: row;
/*     justify-content: space-between; */
    align-items: center;

}

.check label{
    font-size: 16px;
    margin-left: 10px;
  
}

.fechaNacimiento{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    
}

/*============ cart ============*/

/*main{
    background-color: white;
    padding: 3%;
    margin: 5%;
}*/

.cart_details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:auto;
}

.cart_title{
    color:#FF4081;

}


.product_detail{
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #EBEBEB;
    padding: 4%;
    font-size: 22px;

}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_img{
    width: 40%;
}

.order_summary{
    border: solid 2px #ebebeb;
    padding: 4%;
}

.order_summary h3{
    color:#303F9F;
}

.order_summary_subtotal{
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #EBEBEB;
}

.order_summary_total{
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.descuento{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #EBEBEB;
}

.comprar{
    width: 100%;
    background-color: #FF4081;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
}

@media (min-width:788px){
    .cart_details{
        flex-direction: row;
        justify-content: space-around;
    }

    .order_summary{
        width: 20vw;
    }

    .product{
        width: 40vw;
    }
}

/*============ Formularios products ==============*/

.create-form{
    max-width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 1%;
    border: solid 2px #FF4081;
    margin: auto;
    margin-top: 20px;
}

.products-title{
    color:gray;
    font-size: 22px;
}

.items{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-label{
    padding: 5px;
    font-size:18px;
    color:gray;
}

.form-input{
    padding: 10px;
    border: solid 1px #303F9F
}

.newOrSale{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.form-description{
    display:flex;
    flex-direction: column;
    padding: 10px;
}

.product-img{
    padding: 10px;
}

.save-button{
    width: 100%;
    background-color: #FF4081;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.boton-guardar{
    padding: 15px;
    margin:auto;
}


/*============ Media-queries ========*/


@media screen and (min-width: 788px){

    header{
        display: flex;
    }

    .logo__container{
        width: 12%;
        padding: 30px;
    }
    .logo__img{
        width: 30%;
       
    }

    /* hover iconos mas label */
    .icons__container{
        display: flex;
    }
    .icons__container a{
       transition: transform 2s;
       
    }
    .icons__container a:hover i{
        color:#FF4081;
        transform: scale(1.1);
        
    }
    .icons__container a:hover span{
        color: #FF4081;
        transform: scale(1.1);
        
    }
    
    .icons__container a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .icons__container span{
        display: inline;
       font-size: 14px;
       margin: 5px 0;
       color: #303F9F;
    }

    /* NAVBAR */
    header .main-nav{
        display: flex;
        justify-content: center; 
        box-shadow: 2px 0 5px rgba( 0, 0, 0 ,.8);
    }

    .main-menu{
        flex-direction: row;
        padding: 15px 0;
        cursor: pointer;
    }
   
    .main-menu__link{
        background-color: deeppink;
        padding: 8px 20px;
        border-radius: 30px;
        color: white;
    }

    .main-menu__item {
        transition: transform 0.3s;
        
    }
    .main-menu__item:hover {
        transform: scale(1.1);
        
    }

    .banner__container{
        height: 450px;
    }
    .banner__info{
        width: 50%;
    }
    .banner__info h1{
        font-size: 60px;
        line-height: 67px;
    }
    .banner__info p{
        font-size: 30px;
        line-height: 37px;
        padding-right: 40px;
    }

    /* Esconde menu icon */
    header .menu-icon__container{
      display: none;
    }
    
}