<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')%>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body class="container" style="background-color: #fff;">
        <img src="/static/img/404.avif" alt="404">

    </body>

</html>