<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<%- include('./partials/header')%>

<main>
    <section class="form-register">
        <h3>Formulario de registro</h3>
        <form action="/" method="POST">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre del producto">
        <input class="controls" type="number" name="price" id="price" placeholder="Precio"><br>
        <input class="controls" type="number" name="discount" id="discount" placeholder="Descuento"><br>
        <input class="controls" type="file" name="imagen del producto">
        <div class="controls">
            <label for="description">Descripción:</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div class="check">  
            <input  type="checkbox" name="isNew">
            <label for="isNew">Es nuevo</label>
        </div>
        <div class="check">  
            <input  type="checkbox" name="inSale">
            <label for="inSale">Esta en descuento</label>
        </div>
        <button class="boton" type="submit"><a class="registrarme" href='login'> Guardar producto</a></button>
        <button class="boton" type="reset"><a class="cancelar" href='/'> Cancelar </a></button>
        </form>
    </section>
</main>
<%- include('./partials/footer')%>
</body>
</html>