<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--font-awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/productDetail.css">
    <title>MIK</title>
</head>
<body>
<header>

    <div class="header-container">

        <span class="menu-icon__container">
               <i class="fa-solid fa-bars menu-icon"></i>
        </span>
    
        <a href="/" class="logo__container">
               <img class="logo__img" src="/static/img/Logo_MIK.png" alt="logo Mik">
        </a>
    
        <div class="icons__container">
               <a href="productCart" class="icon__container">
                   <i class="fa-solid fa-cart-shopping icon"></i>
               </a>
               <a href="/login" class="icon__container">
                <i class="fa-regular fa-circle-user icon"></i>
               </a>
        </div>

    </div>
    <!-- BARRA DE BUSQUEDA -->
   <!--  <div class="search__container"> -->
   <!--      <input class="search__input" type="text" placeholder="Ingrese su buscar.."> -->
       <!--  <button class="search___btn"><i class="fa-solid fa-magnifying-glass"></i></button> -->
   <!--  </div> -->


    <nav class="main-nav">
        <ul class="main-menu">
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Adultos</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Adolescentes</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Niños</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Bebes</a>
           </li>
            <li class = "main-menu__item">
                <a class="main-menu__link"  href="#">Familia</a>
            </li>
        </ul>
    </nav>
</header>
<br><br>

<main>
    <article class="product_details">
        <div class="product_img">
            <img class="card__img" src="/static/img/natacion.webp" alt="Imagen Deportiva">
        </div>
        <section class="info">
        <div class="product_title">
            <h3>Curso de natación</h3>
            <p class="price">$9.770</p>
        </div>
        <div class="filter">
        <p>Seleccione dia y hora</p>
        <div class="form_container">
            <form action="/days" method="POST">
                <select name="days">
                    <option value="1">lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabado</option>
                    <option value="7">Domingo</option>
                </select>
            </form>
            <from action="/horas" method="POST">
                <select name="hours">
                    <option value="5pm">05:00 p.m. - 06:00 p.m.</option>
                    <option value="6pm">06:00 p.m. - 07:00 p.m.</option>
                    <option value="7pm">07:00 p.m. - 08:00 p.m.</option>
                </select>
            </form>
        </div>
        </div>
        </section>
        </article>
    <article class="product_description">
            <h2>Descripción</h2>
            <p class="description">
                ¿Quieres que tu hijo aprenda a nadar? En MIK acompañamos este proceso por medio de los diferentes niveles que te ofrecemos en este curso donde tu hijo podrá familiarizarse con el agua, adquiriendo habilidades básicas que se perfeccionaran a medida que supere cada nivel y con las que finalmente logrará realizar movimientos técnicos de natación. 
                <br><br>
                Este curso consta de 4 sesiones de 1 hora cada una, dirigido para niños de 4 a 8 años. 
            </p>
        </div>

    </article>


    </main>

    <footer>

        <section class="social__icons">
            <ul>
                <li><a class="social__link" href=""><i class="fa-brands fa-facebook"></i></a>
                <li><a class="social__link" href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a class="social__link" href=""><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </section>
        <section class="footer-info">
            <div class="footer-info__container-img">
                <img class="logo__img" src="/static/img/Logo_MIK.png" alt= "Logo de MIK">
            </div>
            <div class="footer-info__nav">
                <p>Tienda</p>
                <div class="footer-info__navbar">
                    <ul>
                        <li><a class="footer-info__link" href="#">¿Cómo comprar?</a></li>
                        <li><a class="footer-info__link" href="#">Política de devoluciones</a></li>
                        <li><a class="footer-info__link" href="#"></a></li>
                    </ul>
                </div>
            </div>
        
        </section>
    </footer>

</body>

</html>