<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<%- include('./partials/header')%>

<main>
    <section class="form-register">
        <h3>Formulario de registro</h3>
        <form action="/" method="POST">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre">
        <input class="controls" type="text" name="apellidos" id="apellido" placeholder="Apellido"><br>
        <input class="controls" type="tel" name="telefono" id="telefono" placeholder="Número de celular"><br>
        <input class="controls" type="email" name="email" id="email" placeholder="Correo electrónico"><br>
        <input class="controls" type="password" name="password" id="password" placeholder="Ingrese una contraseña"><br>
        <div class="fechaNacimiento">
        <label>Fecha de Nacimiento</label><br>
        <input class="date" type="date" name="fechanacimiento" id="fechanacimiento">
        </div>
        <div class="check">  
            <input  type="checkbox" name="tratamientoDatos">
            <label for="tratamientoDatos">Estoy de acuerdo con los terminos y condiciones</label>
        </div>
        <button class="boton" type="submit"><a class="registrarme" href='login'> Registrarme</a></button>
        <button class="boton" type="reset"><a class="cancelar" href='/'> Cancelar </a></button>
        </form>
        <p><a class="login" href='login'> Ya tengo una cuenta</a></p>
    </section>
</main>
<%- include('./partials/footer')%>
</body>
</html>


