<footer>

    <section class="social__icons">
        <ul>
            <li><a class="social__link" href=""><i class="fa-brands fa-facebook"></i></a>
            <li><a class="social__link" href=""><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a class="social__link" href=""><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </section>
    <section class="footer-info">
        <div class="footer-info__container-img">
            <img class="logo__img" src="/static/img/Logo_MIK.png" alt= "Logo de MIK">
        </div>
        <div class="footer-info__nav">
            <p>Tienda</p>
            <div class="footer-info__navbar">
                <ul>
                    <li><a class="footer-info__link" href="#">¿Cómo comprar?</a></li>
                    <li><a class="footer-info__link" href="#">Política de devoluciones</a></li>
                    <li><a class="footer-info__link" href="#"></a></li>
                </ul>
            </div>
        </div>
    
    </section>
</footer>