<header>

    <div class="header-container">

        <span class="menu-icon__container">
               <i class="fa-solid fa-bars menu-icon"></i>
        </span>
    
        <a href="/" class="logo__container">
               <img class="logo__img" src="/static/img/Logo_MIK.png" alt="logo Mik">
        </a>
    
        <div class="icons__container">
               <a href="users/cart" class="icon__container">
                   <i class="fa-solid fa-cart-shopping icon"></i>
                   <span>Comprar</span>
               </a>
               <a href="users/login" class="icon__container">
                <i class="fa-regular fa-circle-user icon"></i>
               <!--  <span> Iniciar Sesión </span> -->
                <span><%= sesion.userLogged ? sesion.userLogged.email : "Iniciar Sesión" %>  </span>
               </a>
        </div>

    </div>
    <!-- BARRA DE BUSQUEDA -->
   <!--  <div class="search__container"> -->
   <!--      <input class="search__input" type="text" placeholder="Ingrese su buscar.."> -->
       <!--  <button class="search___btn"><i class="fa-solid fa-magnifying-glass"></i></button> -->
   <!--  </div> -->


    <nav class="main-nav">
        <ul class="main-menu">
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Adultos</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Adolescentes</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Niños</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link" href="#">Bebes</a>
           </li>
            <li class = "main-menu__item">
                <a class="main-menu__link"  href="#">Familia</a>
            </li>
            <li class = "main-menu__item">
                <a class="main-menu__link"  href="/products">Todos los cursos</a>
            </li>
            
        </ul>
    </nav>

</header>